
{% extends "layout.html"  %}
    {% block content %}
        {% for i in posts %}
        <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static',filename='profile_pic/'+i.author.image_profile) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ i.author.username }}</a>
      <small class="text-muted">{{ i.date_posted.strftime('%d-%m-%Y') }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ i.title }}</a></h2>
    <p class="article-content">{{ i.content }}</p>
  </div>
</article>
        {% endfor %}
{% endblock content%}